.board {
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  & > .row {
    display: flex;
    flex-direction: row;
    justify-items: stretch;

    & > .cell {
      border: 1px solid black;
      height: 100%;
      overflow: hidden;
    }
  }
}